#header {
  display: table;
}

.header-line {
  height: 60px;
  left: 91px;
  top: 10px;
  bottom: 70px;
  border: 1px solid #2E7F3C;
}

.header-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  min-width: 750px;
  top: 50px;
}

.header-img, .header-line, .header-text {
  display: table-cell;
}

#footer {
  display: block;
}
