/*-- Основные стили */

/*---- Хедер */
.Header {
    hr {
        border-bottom-width: 0px;
        border-top-width: 2px;
        border-color: $Branded_Colors_Fun_Green;
        margin-block-start: 0;
        margin-block-end: 0;
        border-style: solid;
    }
    background-color: #fff;
    @include FourDp-Elevation;
}

/*------ Название и логотип */
.HeaderLogo {
    padding-top: 52px;
    padding-bottom: 52px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    justify-content: center;
    transform-origin: center;
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transform: scale(1);
    justify-content: space-between;
    &:active{
        transform: scale(0.99);
    }
    a {
        display: flex;
    }
}
.svg-Logo {
    width: 80px;
    height: 80px;
    margin: auto 0;
}
.HeaderTitle {
    width: 749px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    @include Logo_Roboto_Regular_22px;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        display: block;
        border-right: 2px solid $Branded_Colors_Fun_Green;
        border-left-width: 0;
        height: 100%;
        left: -29px;
        top: 0;
    }
}

/*------ Навигация */
.Navigation {
    justify-content: center;
}

/*-------- Ссылки */
.NavLinks {
    padding-inline-start: 0px;
    width: 983px;
    justify-content: space-between;
    display: flex;
    padding-top: 15px;
    margin-bottom: 0;
    li {
        padding-top: 0px;
        padding-bottom: 15px;
        list-style: none;
        @include Navigation_Roboto_Regular_16px;
        a {
            transition-duration: 0.2s;
            transition-property: color;
            transition-timing-function: ease-in-out;
            &:hover{
                color: $Branded_Colors_Fun_Green;
            }
        }
    }
}
.ActivePage {
    box-shadow: inset 0 -3px 0 $Branded_Colors_Fun_Green;
}

/*-------- Кнопка-Бургер */
.NavBurger {
    display: none;
    float: right;
    width: fit-content;
    height: fit-content;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 9px;
}
.BurgerBox {
    position: relative;
    display: block;
    width: 20px;
    height: 14px;
}
.BurgerInner {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 0;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000;
    &::before {
        display: block;
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        top: 6px;
        border-radius: 4px;
        background-color: #000;
    }
    &::after {
        display: block;
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        top: 12px;
        border-radius: 4px;
        background-color: #000;
    }
}

section {
    background-color: $Monochrome_Scorpion;
    height: 500px;
}