/*-- Основные стили */

////////////////////////////////////// Контакты ///////////////////////////
.Last-Page-Link {
    color: $Branded_Colors_Parsley;
    &:hover {
        @include Links_Hover;
    }
}
.Separator {
    color: $Universal_Red;
    padding-left: 2px;
    padding-right: 2px;
}
.First-Active-Page {
    color: $Monochrome_Dusty_Gray;
}

.Headline-Border {
    width: fit-content;
    padding-bottom: 24px;
    &::after{
        margin-top: 13px;
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        background-color: $Branded_Colors_Fun_Green;
    }
}

.Center-Name {
    @include Headlines_Roboto_Medium_24px;
}

.Pages-Contact-Info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Pages-Contact-Info-Img {
    width: 22px;
    height: 31px;
}

.Pages-Contact-Info-Text {
    @include Links_Roboto_Regular_16px_Default;
    position: relative;
    bottom: 10px;
}

.Map {
    padding-top: 30px;
}

iframe{
    height: 540px;
}





/////////////////////////////////// Партнеры и клиенты ///////////////////////////////////

.Partner {
    margin-top: 20px;
}

.Page-Partner-Img {    
    width: 200px;
    height: 130px;
}

.Page-Partner-Text {
    @include Headlines_Roboto_Medium_29px;
    position: relative;
    left: 50px;
    bottom: 50px;
}

.Page-Partner-Block {
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0px 0px;

    border-bottom: 2px solid #949494;
}

.Page-Partner-More {
    width: 231px;
    height: 58px;

    border: 2px solid #155724;
    box-sizing: border-box;
    border-radius: 10px;

    @include Universal_Roboto_Regular_22px;

    margin-top: 50px;

    display:flex;
    flex-flow: column;
    align-items: center;
}

.Page-Partner-More-Text {
    position: relative;
    top: 15px;
    color: $Branded_Colors_Parsley;
}

.Page-Partner-More-Button {
    justify-content: center;
    align-items: center;
    text-align: center;
}



/////////////////////////////////// Объявления ///////////////////////////////////

.Announces {
    margin-top: 20px;
}

.Page-Announces-Block {
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0px 0px;

    border-bottom: 2px solid #949494;

    position: relative;
}

.Page-Announces-Img {    
    width: 200px;
    height: 130px;
}

.Page-Announces-Block_Date {
    @include Universal_Roboto_Regular_22px;

    position: absolute;

    left: 80px;
    bottom: 35px;
    color: #2E7F3C;
}

.Page-Announces-Block_Date-Number {
    left: 90px;
    bottom: 65px;
}

.Page-Announces-Text {
    @include Headlines_Roboto_Medium_29px;
    position: relative;
    left: 50px;
    bottom: 50px;
}



.Page-Announces-More {
    width: 231px;
    height: 58px;

    border: 2px solid #155724;
    box-sizing: border-box;
    border-radius: 10px;

    @include Universal_Roboto_Regular_22px;

    margin-top: 50px;

    display:flex;
    flex-flow: column;
    align-items: center;
}

.Page-Announces-More-Text {
    position: relative;
    top: 15px;
    color: $Branded_Colors_Parsley;
}

.Page-Announces-More-Button {
    justify-content: center;
    align-items: center;
    text-align: center;
}
