/*-- Основные стили */

////////////////////////////////////// Контакты ///////////////////////////
.Last-Page-Link {
    color: $Branded_Colors_Parsley;
    &:hover {
        @include Links_Hover;
    }
}
.Separator {
    color: $Universal_Red;
    padding-left: 2px;
    padding-right: 2px;
}
.First-Active-Page {
    color: $Monochrome_Dusty_Gray;
}

.Headline-Border {
    width: fit-content;
    padding-bottom: 24px;
    &::after{
        margin-top: 13px;
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        background-color: $Branded_Colors_Fun_Green;
    }
}

.Center-Name {
    @include Headlines_Roboto_Medium_24px;
}

.pages_contact-info-text {
    @include Links_Roboto_Regular_16px_Default;
}

.map {
    padding-top: 30px;
}

iframe{
    height: 540px;
}


.pages-contact-info-br {
    margin-top: 30px;
    margin-bottom: 30px;
}




/////////////////////////////////// Партнеры и клиенты ///////////////////////////////////

.page-partner-img {    
    width: 200px;
    height: 130px;
}

.page-partner-text {
    @include Headlines_Roboto_Medium_29px;
    position: relative;
    left: 50px;
    bottom: 50px;
}

.page-partner-block {
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0px 0px;

    border-bottom: 2px solid #949494;
}

.page-partner-more {
    width: 231px;
    height: 58px;

    border: 2px solid #155724;
    box-sizing: border-box;
    border-radius: 10px;

    @include Universal_Roboto_Regular_22px;

    margin-top: 50px;

    display:flex;
    flex-flow: column;
    align-items: center;
}

.page-partner-more-text {
    position: relative;
    top: 15px;
    color: $Branded_Colors_Parsley;
}

.page-partner-more-button {
    justify-content: center;
    align-items: center;
    text-align: center;
}